
$primary:#e7ab3c;
$secendery:#252525;
$secenddark:#222222;
$tri:#4c4c4c;
$fort:#3b3b3b;
$ac:#b2b2b2;
$dp:#6e6e6e;
$cbb:#171717;
$foooter:#191919;
$footericon:#434445;
$navbarhover:#ccc;
$border-bottom:#e5e5e5;
$white:#ffffff;
$cd:#636363;
$footertop: #303030;
$fs0:10px;
$cs1:12px;
$fs1:14px;
$fs2:16px;
$fs3:20px;
$is:18px;
$fs4:24px;
$fs5:36px;
$fs6:40px;
$fs7:48px;
$fs8:72px;
